<h1>{{tutorialObject.title}}</h1>
<h2>{{tutorialObject.subTitle}}</h2>
<h3>One Way Bind Output: {{tutorialObject.bindOutput}}</h3>
<button type="button" ng-click="timesTwo()">Multiply</button>
<h3>Two Way Bind Name: {{tutorialObject.firstname + " " + tutorialObject.lastname}}</h3>
<label for="firstName">First Name</label>
<input type="text" ng-model="tutorialObject.firstname">
<label for="firstName">First Name</label>
<input type="text" ng-model="tutorialObject.lastname">
<span jc-welcome-message></span>
<br>
<a href="#!/tutorialSecond">Tutorial Second Page</a>
